<div id="contenido" class="col-sm-12 col-md-12">
    <div id="menu" menu2 class="col-md-3 hidden-sm hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li id="ligas"><a class="nav-link" href="#/ubicaciones">UBICACIONES</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/promociones">PROMOCIONES / SORTEOS</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/credito">CREDITO</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/prepago">PREPAGO</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/bolsa-de-trabajo">BOLSA DE TRABAJO</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/contacto">CONTACTO</a>
            </li>
            <li id="ligas"><a class="nav-link" href="#/faq">PREGUNTAS FREQUENTES</a>
            </li>
        </ul>
        <div id="mapa" class="">
            <a href="#/ubicaciones"><img src="img/MergedLayers.png" class="img-responsive" alt=""></a>
        </div>
    </div>
    <div id="info" class="col-xs-12 col-sm-12 col-md-9">
        <div ng-view></div>
    </div>
</div>
