<div id="footer" class="col-xs-12">
    <div id="gasolina" class="col-xs-7">
        <ul class="list-inline">
            <li><img src="img/Capa-1.png" alt="">
            </li>
            <li><img src="img/Capa-2.png" alt="">
            </li>
            <li><img src="img/Capa-3.png" alt="">
            </li>
        </ul>
    </div>
    <div id="copyright" class="col-xs-5">
        <div id="cr" class="pull-right">
            Copyright 2015 Grupo Cargogas. Derechos Reservados
        </div>
    </div>
</div>