<div id="inicio" class="col-sm-12 col-md-12">
    <div id="datos" class="col-sm-6 col-md-6">
        <ul class="nav nav-pills">
            <li><a href="#/">Inicio</a>
            </li>
            <li><a href="#/contacto">Contacto</a>
            </li>
        </ul>
    </div>
    <div id="contacto" class="col-sm-6 col-md-6">
        <ul class="nav nav-pills pull-right">
            <li><a href="#/">(871) 733 64 69</a>
            </li>
            <li><a href="mailto:info@cargogas.com">info@cargogas.com</a>
            </li>
        </ul>
    </div>
</div>
