<div id="inicio" class="container col-xs-12">
    <div id="datos" class="row col-xs-6">
        <ul class="nav nav-pills">
            <li><a href="#/">Inicio</a>
            </li>
            <li><a href="#/contacto">Contacto</a>
            </li>
        </ul>
    </div>
    <div id="contacto" class="row col-xs-6">
        <ul class="nav nav-pills pull-right">
            <li><a>(871) 733 64 69</a>
            </li>
            <li><a href="mailto:info@cargogas.com">info@cargogas.com</a>
            </li>
        </ul>
    </div>
</div>