<div id="marketing" class="col-xs-12">
    <div id="servicios" class="col-xs-5 pull-left">
        <img class="img-responsive" src="img/bano-logo.jpg" alt="">
        <img class="img-responsive" src="img/wifi-logo.png" alt="">
        <img class="img-responsive" src="img/visa-mc-logo.png" alt="">
        <img class="img-responsive" src="img/am-logo.png" alt="">
    </div>
    <div id="servicios" class="col-xs-1 pull-right">
        <a href="https://www.facebook.com/grupocargogas">
            <img class="img-responsive" src="img/fb-logo-new.png" alt="">
        </a>
    </div>
</div>